<!DOCTYPE html>
<html lang="en">

<% include head %>

  <body>
    <% if (user) { %>
      <% include navbarLI %>
        <% } else { %>
          <% include navbarNL %>
            <% } %>

              <div class="container">
                <h1 class="text-center p-5 mb-5 mt-5">Favorites</h1>
                <div class="row">
                  <% favoriteItems.forEach(fav=> { %>
                    <div class="col-sm-3 mb-3 mb-sm-5">
                      <div class="card" style="width: 18rem;">
                        <img src="<%= fav.picurl %>" class="card-img-top" alt="<%= fav.name %>">
                        <div class="card-img-overlay" style="bottom: 230px; padding: 0px;">
                          <% if(item.sold) { %>
                            <div style="position: relative; left: 0; top: 0;">
                              <img src="images/sold_out_sticker.png" class="img-sold-card">
                            </div>
                            <% } %>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= fav.name %>
                          </h5>
                          <p class="card-text">
                            <%= fav.description %>
                          </p>
                          <p class="card-text"><strong>$<%= fav.price %></strong></p> <!-- Price in bold -->
                          <a href="/details/<%= fav.item_id %>" class="btn btn-primary">More details</a>
                          <!-- Use dynamic link to details page -->
                          <% if (user) { %>
                            <!---if item is favorite-->
                            <form action="/remove-favorite/<%= fav.item_id %>" method="POST">
                              <button type="submit">

                                <div class="heart-icon red-heart" id="heart-icon-<%= fav.id %>">
                                  <i class="fa-solid fa-heart"></i>
                                </div>

                              </button>

                            </form>


                            <% } %>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                </div>
              </div>

              <!-- Include your JavaScript links here -->
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
              <script>
                const heartIcons = document.querySelectorAll('.heart-icon');

                heartIcons.forEach(icon => {
                  icon.addEventListener('click', () => {
                    icon.classList.toggle('red-heart'); // Toggle the 'red-heart' class
                  });
                });
              </script>

  </body>

</html>