<!DOCTYPE html>
<html lang="en">

<% include head %>

  <body>
    <% if (user) { %>
      <% include navbarLI %>
        <% } else { %>
          <% include navbarNL %>
            <% } %>

              <div class="container">
                <h1 class="text-center p-5 mb-5 mt-5">Full Listing</h1>
                <div class="row">
                  <% items.forEach(item=> { %>
                    <div class="col-sm-3 mb-3 mb-sm-5">
                      <div class="card" style="width: 18rem;">
                        <img src="<%= item.picurl %>" class="card-img-top" alt="<%= item.name %>">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= item.name %>
                          </h5>
                          <p class="card-text">
                            <%= item.description %>
                          </p>
                          <p class="card-text"><strong>$<%= item.price %></strong></p> <!-- Price in bold -->
                          <a href="/details/<%= item.id %>" class="btn btn-primary">More details</a>
                          <!-- Use dynamic link to details page -->
                          <% if (user) { %>
                            <div class="heart-icon" id="heart-icon-<%= item.id %>">
                              <i class="fa-solid fa-heart"></i>
                            </div>
                            <% } %>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                </div>

              </div>

              <!-- Include your JavaScript links here -->
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
              <script>
                const heartIcons = document.querySelectorAll('.heart-icon');

                heartIcons.forEach(icon => {
                  icon.addEventListener('click', () => {
                    icon.classList.toggle('red-heart'); // Toggle the 'red-heart' class
                  });
                });
              </script>

  </body>

</html>